body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px 20px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.add-btn {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-btn i {
    font-size: 16px;
}

.add-btn:hover {
    background-color: #0056b3;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width:50%;
    justify-content: center;
    margin-left: 25%;
    margin-top: 7%;
}
.form-input {
    display: flex;
    flex-direction: column;
    gap:5px;
}
textarea {
    min-height: 150px;
}