<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>UPDATE POST </h1>
    <form action="{{url_for('update', post_id=post.id)}}" method="POST">
        <div class="form-input">
            <label for="title">Title:</label>
            <input name="title" id="title" type="text" required value={{post.title}}>
        </div>
        <div class="form-input">
            <label for="author">Author:</label>
            <input name="author" id="author" type="text" required value={{post.author}}>
        </div>
        <div id="form-input">
            <label for="content">Content:</label>
            <textarea name="content" id="content" required >{{post.content}}</textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>